body {
  background: #ddd;
}

.nav .navbar {
  border-radius: 0;
}

.navbar-inverse {
  width: 100%;
  z-index: 100;
}

.color-red {
  color: red;
}

.shows-img {
  max-width: 100px;
  max-height: 120px;
}

.show-result {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.show-big-img {
  max-height: 500px;
  border:1px solid lightgrey;
}

.color-lightblue {
  color: lightblue;
}
