<div class="container">
  <h1>Edit the Movie</h1>

  <%= render 'form', movie: @movie %>
  <hr />
  <%= link_to 'Back', @movie, {:class => "btn btn-info"} %> 
  <%= link_to 'Back to Movies', movies_path, {:class => "btn btn-info"} %>
  
</div>
  
