<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>All Movies <%= link_to 'New Movie', new_movie_path, {:class => "btn btn-info"} %></h1>

  <hr />
  <div class="container"></div>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to movie do%>
            <img class="img-thumbnail img-responsive" src="<%= movie.img %>">
          <% end %>
        </div> 
      <% end %>  
    </div>
      
</div>

<script>

  
</script>




