<h1 class="text-center">Online Movie Theatre</h1>
<h3 class="text-center">Buy tickets online for the best movies</h3>

 <p class="text-center"><%= link_to 'All movies', movies_path, {:class => "btn btn-lg btn-info"}  %></p>


