/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #ddd;
}

.nav .navbar {
  border-radius: 0;
}

.navbar-inverse {
  width: 100%;
  z-index: 100;
}

.color-red {
  color: red;
}

.shows-img {
  max-width: 100px;
  max-height: 120px;
}

.show-result {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.show-big-img {
  max-height: 500px;
  border:1px solid lightgrey;
}

.color-lightblue {
  color: lightblue;
}
/*********************/
/*Buy ticket*/


body {
  background: #ddd;
  box-sizing: border-box;
}

.seats {
  padding: 2px;
  background: #aaa;
  border: 2px solid grey;
  border-radius: 5px;
}

.seats-legend {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 10px;
}

.single-seat {
  padding: 0px;
  margin: 2px;
  font-size: 12px;
  display: inline-block;
  color: #FFF;
  border-radius: 5px;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
}

.single-seat-active {
  background: green;
}

.single-seat-reserved {
  background: grey;
}

.single-seat-selected {
  background: red;
}

